@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* For all elemets */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*  правильно і семантично ховати заголовки */
.feature__title, .portfolio__maintitle, .register-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature__list, .doing__list, .cards__sociallinks, .team__list, .footer__sociallinks, .footer__list, .portfolios, .clients__list, .mobile-media-list, .navcontacts__mobile, .portfolio__buttons, .navcontacts, .menu {
  list-style: none; /* убирает оформление списка*/
  padding: 0;
  margin: 0;
}

.feature, .doing, .team, .portfolio, .clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.doing__title, .cards__title, .team__title, .clients__title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.hero__container, .feature__container, .doing__container, .team__container, .footer__container, .portfolio__container, .clients__container, .header__container {
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
@media screen and (min-width: 320px) {
  .hero__container, .feature__container, .doing__container, .team__container, .footer__container, .portfolio__container, .clients__container, .header__container {
    max-width: 450px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero__container, .feature__container, .doing__container, .team__container, .footer__container, .portfolio__container, .clients__container, .header__container {
    max-width: 738px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container, .feature__container, .doing__container, .team__container, .footer__container, .portfolio__container, .clients__container, .header__container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

:root {
  --hero-text-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --site-nav-text-color: #212121;
  --site-navcontacts-text-color: #757575;
  --accent-color: #2196f3;
  --footer__link-text-color: #ffffff;
  --primary-bg-color: #ffffff;
  --button-primary-text-color: #ffffff;
  --button-porfolio-usual: #f5f4fa;
  --bg-image: rgba(47, 48, 58, 0.4);
  --bgc: #f5f4fa;
  --fill-default-icon: #afb1b8;
  --fill-hiver-icon: #ffffff;
}

body {
  background-color: var(----primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Шапка сайта */
.header {
  border-bottom: 1px solid #ececec;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}
.menu-container.js-menu-container {
  display: block;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .nav {
    padding: 10px 0 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
  }
}
.logo--header {
  color: #000000;
}
.logo--footer {
  color: #ffffff;
}

/* Site nav */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}
@media screen and (min-width: 320px) {
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu__item:nth-child(n+1) {
  margin-right: 50px;
}
.menu__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: var(--menu-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__item:hover, .menu__item:focus {
  color: var(--accent-color);
}
.menu__link--current {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu__link--current:after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    background-color: var(--accent-color);
  }
}

.navcontacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 320px) {
  .navcontacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navcontacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .navcontacts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.navcontacts__link {
  color: var(--site-navcontacts-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navcontacts__link:hover, .navcontacts__link:focus {
  color: var(--accent-color);
}
.navcontacts__item:nth-child(n+1) {
  margin-right: 50px;
}
.navcontacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navcontacts__icon {
  fill: currentColor;
}

@media screen and (min-width: 320px) {
  .navcontacts__icon--envelope {
    display: none;
  }
  .navcontacts__icon--smartphone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navcontacts__icon--envelope {
    width: 14px;
    height: 10px;
  }
  .navcontacts__icon--smartphone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .navcontacts__icon--envelope {
    width: 16px;
    height: 12px;
  }
  .navcontacts__icon--smartphone {
    width: 10px;
    height: 16px;
  }
}
/* Buttons */
.button {
  cursor: pointer;
}

.header__mobilebutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__mobilebutton {
    display: none;
  }
}

.header__mobilebutton:hover .header__icon-menu,
.header__mobilebutton:focus .header__icon-menu {
  fill: #2196f3;
}

.header__mobilebutton.js-close-menu {
  margin: 10px 15px;
}

.mobile-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero__button {
  display: inline-block;
  color: var(--button-primary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 216px;
  border: 0px;
}

.button__porfolio {
  color: var(--title-text-color);
  background-color: var(--button-porfolio-usual);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: 0px;
  margin-right: 8px;
}

.button.button--current {
  color: var(--button-primary-text-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: 0px;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--focus {
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button--focus:hover,
.button--focus:focus {
  background-color: var(--accent-color);
  color: var(--button-primary-text-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 34px 0;
}
@media screen and (min-width: 320px) {
  .portfolio__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 15px 8px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.portfolio__buttons .item:nth-last-child(5n) {
  margin-right: 0px;
}

.footer__button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  gap: 10px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  padding: 10px 28px;
}

/* BackDrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  overflow: visible;
}

.mobile-menu {
  position: relative;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  height: inherit;
  width: 100%;
  background-color: #fff;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform var(--anim-fast) 100ms;
  transition: -webkit-transform var(--anim-fast) 100ms;
  transition: transform var(--anim-fast) 100ms;
  transition: transform var(--anim-fast) 100ms, -webkit-transform var(--anim-fast) 100ms;
}
.is-hidden .mobile-menu {
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: transorm 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transorm 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  gap: 32px;
  margin: 0 0 302px 0;
}

.navcontacts__mobile {
  padding: 0 0 0 40px;
  gap: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}
.navcontacts__mobile .navcontacts__link--envelope {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.navcontacts__mobile .navcontacts__link--smartphone {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 0 0 0 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-media-item {
  position: relative;
}

.mobile-media-item:not(:first-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

/* Когда модалка спрятана к ней применяем: */
.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.9) translate(-50%, -50%);
          transform: scale(0.9) translate(-50%, -50%);
}

.modal {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px 39px 40px 41px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition: transorm 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transorm 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) {
  .modal {
    min-height: 609px;
    min-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    min-height: 609px;
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  line-height: 1.17;
  font-size: 12px;
  letter-spacing: 0.01em;
  height: 120px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.formbackdrop {
  height: 342px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .formbackdrop {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .formbackdrop {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  .formbackdrop {
    width: 448px;
  }
}

.title-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 12px;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.name-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
}

.labelfield {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  min-height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  outline: transparent;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea.labelfield {
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
}
@media screen and (min-width: 320px) {
  textarea.labelfield {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  textarea.labelfield {
    width: 370px;
  }
}
@media screen and (min-width: 1200px) {
  textarea.labelfield {
    width: 448px;
  }
}

/* КНОПКА ЧЕК */
.register-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.register-checkbox:focus + .register-agreement-icon {
  outline: 2px solid var(--accent-color);
  outline-offset: 1px;
  border-radius: 2px;
}

.icon-uncheck {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-checkbox:checked + .register-agreement-icon > .icon-uncheck {
  opacity: 0;
}

.icon-check {
  opacity: 0;
  fill: var(--accent-bg-cl);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-checkbox:checked + .register-agreement-icon > .icon-check {
  opacity: 1;
}

.register-agreement-text {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register-agreement-link {
  color: var(--accent-color);
  text-underline-position: under;
}

/* конец кнопки чек */
.termscondition {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 13px;
}

.button.field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin: 0 auto;
}

.link-term {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-position: under;
  color: var(--accent-color);
}

.button-backdrop {
  position: absolute;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 8px;
  top: 8px;
  cursor: pointer;
  outline: none;
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-backdrop:focus,
.button-backdrop:hover {
  color: var(--accent-color);
  fill: currentColor;
}

.register-icon {
  position: absolute;
  bottom: 22px;
  left: 12px;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.labelfield:focus + .register-icon {
  fill: var(--accent-color);
}

.labelfield:focus {
  border-color: var(--accent-color);
}

/* Постійні клієнти  */
.clients {
  -webkit-transition-property: border, color, fill;
  transition-property: border, color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.clients__icon {
  fill: currentColor;
}
.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: var(--fill-default-icon);
}
@media screen and (min-width: 320px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  fill: currentColor;
}

/* .company.list .item:hover,
.company.list .item:focus{
  fill: var(--accent-color);
} */
/* Porfolio PAGE */
.portfolios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 320px) {
  .portfolios__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; /*370px   calc((100% - 60px) / 3)*/
  }
}
@media screen and (min-width: 768px) {
  .portfolios__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2); /*370px   calc((100% - 60px) / 3)*/
  }
}
@media screen and (min-width: 1200px) {
  .portfolios__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3); /*370px   calc((100% - 60px) / 3)*/
  }
}
.portfolios__link {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.portfolios__link:hover, .portfolios__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolios__link:hover .portfolios__overlay {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.portfolios__thumb {
  position: relative;
  overflow: hidden;
}
.portfolios__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  font-size: 18px;
  line-height: 1.75;
  padding: 63px 24px 63px 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio__textbox {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.portfolio__title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}

/* .portfolios .team-thumb::after{
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
}

.portfolios .team-thumb:hover::after{
  opacity: 1;
  transform: translateY(-100%);

} */
/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  /* Свойства для обнуления курсива у address font-style: normal */
}
.footer__list {
  margin-right: auto;
}
.footer__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .footer__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer__box {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 70px;
  }
}
@media screen and (min-width: 320px) {
  .footer__form {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__form {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
}
@media screen and (min-width: 320px) {
  .footer__boxlogo {
    display: block;
    text-align: center;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__boxlogo {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .footer__boxlogo {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: left;
  }
}
.footer__join {
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 320px) {
  .footer__secondbox {
    display: block;
    text-align: center;
    margin: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__secondbox {
    display: block;
    text-align: center;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__secondbox {
    display: block;
    text-align: left;
  }
}
.footer__sociallinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.footer__links {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  outline: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon {
  fill: var(--fill-hiver-icon);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__links:hover .footer__icon, .footer__links:focus .footer__icon {
  fill: var(--fill-hiver-icon);
}
.footer__links:hover, .footer__links:focus {
  background: var(--accent-color);
}
.footer__links:hover, .footer__links:focus {
  background: var(--accent-color);
}
.footer__subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 320px) {
  .footer__subscribe {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 20px 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 20px 0;
  }
}
.footer__lastbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) {
  .footer__lastbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer__lastbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__lastbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__link {
  color: var(--footer__link-text-color);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
}
.footer__item {
  gap: 9px;
}
@media screen and (min-width: 320px) {
  .footer__item {
    display: block;
    text-align: center;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__item {
    display: block;
    text-align: center;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item {
    display: block;
    text-align: left;
  }
}
.footer__addresses {
  margin-top: 20px;
}
.footer__link--transparency {
  color: rgba(255, 255, 255, 0.6);
}
.footer__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link--transparency:hover, .footer__link--transparency:focus {
  color: var(--accent-color);
}
.footer__logo {
  margin-top: 60px;
}
@media screen and (min-width: 320px) {
  .footer__logo {
    display: block;
    text-align: center;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo {
    display: block;
    text-align: center;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    display: inline;
    text-align: left;
  }
}
.footer__input {
  height: 50px;
  background-color: transparent;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: white;
}
.footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 320px) {
  .footer__input {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 100%;
    padding: 13px 16px;
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .footer__input {
    display: block;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 450px;
    padding: 13px 16px;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input {
    display: block;
    text-align: start;
    margin-right: 12px;
    width: 358px;
    padding: 13px 16px;
  }
}

/* Our Team */
.team {
  background-color: var(--bgc);
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.cards {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
@media screen and (min-width: 320px) {
  .cards {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .cards {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .cards {
    width: 270px;
  }
}
@media screen and (min-width: 320px) {
  .cards__portrait {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .cards__portrait {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__portrait {
    width: 270px;
  }
}
.cards__text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.cards__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.cards__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 0;
}
.cards__sociallinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.cards__icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--fill-default-icon);
}
.cards__a {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  outline: none;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cards__a:hover .cards__icon, .cards__a:focus .cards__icon {
  fill: var(--fill-hiver-icon);
}
.cards__a:hover, .cards__a:focus {
  background: var(--accent-color);
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .doing {
    display: none;
  }
}
.doing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.doing__item {
  width: 370px;
  position: relative;
}
.doing__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(47, 48, 58, 0.8);
  opacity: 1;
  max-width: 370px;
  height: 70px;
  bottom: 0;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*features*/
.feature {
  padding-top: 88px;
  padding-bottom: 0px;
}
.feature__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 320px) {
  .feature__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: 270px;
  }
}
.feature__subtitle {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.feature__text {
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}
.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background-color: var(--bgc);
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 320px) {
  .feature__icon {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__icon {
    width: 270px;
  }
}
.feature__svg {
  width: 70px;
  height: 70px;
}

/*  Hero */
.hero {
  background-color: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  /* секция сожмется, но(картинка) не больше чем оригинльый размер */
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
@media screen and (min-width: 320px) {
  .hero {
    min-height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-image)), to(var(--bg-image))), url("../images/hero/hero-mobile.jpg");
    background-image: linear-gradient(to right, var(--bg-image), var(--bg-image)), url("../images/hero/hero-mobile.jpg");
  }
}
@media screen and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-image)), to(var(--bg-image))), url("../images/hero/hero-mobile-x2.jpg");
    background-image: linear-gradient(to right, var(--bg-image), var(--bg-image)), url("../images/hero/hero-mobile-x2.jpg");
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-image)), to(var(--bg-image))), url("../images/hero/hero-tab.jpg");
    background-image: linear-gradient(to right, var(--bg-image), var(--bg-image)), url("../images/hero/hero-tab.jpg");
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-image)), to(var(--bg-image))), url("../images/hero/hero-tab-x2.jpg");
    background-image: linear-gradient(to right, var(--bg-image), var(--bg-image)), url("../images/hero/hero-tab-x2.jpg");
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-image)), to(var(--bg-image))), url("../images/hero/hero-desk.jpg");
    background-image: linear-gradient(to right, var(--bg-image), var(--bg-image)), url("../images/hero/hero-desk.jpg");
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--bg-image)), to(var(--bg-image))), url("../images/hero/hero-desk-x2.jpg");
    background-image: linear-gradient(to right, var(--bg-image), var(--bg-image)), url("../images/hero/hero-desk-x2.jpg");
  }
}
.hero__title {
  color: var(--hero-text-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}/*# sourceMappingURL=main.css.map */