/* Buttons */
.button {
  cursor: pointer;
}

.header__mobilebutton {
  display: flex;
  // align-items: center;
  // justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header__mobilebutton:hover .header__icon-menu,
.header__mobilebutton:focus .header__icon-menu {
  fill: #2196f3;
}
.header__mobilebutton.js-close-menu {
  margin: 10px 15px;
}
.mobile-menu__button {
  display: flex;
  justify-content: flex-end;
}

.hero__button {
  display: inline-block;
  color: var(--button-primary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 216px;
  border: 0px;
}

.button__porfolio {
  color: var(--title-text-color);
  background-color: var(--button-porfolio-usual);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: 0px;
  margin-right: 8px;
}

.button.button--current {
  color: var(--button-primary-text-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  min-width: 73px;
  border: 0px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--focus {
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button--focus:hover,
.button--focus:focus {
  background-color: var(--accent-color);
  color: var(--button-primary-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__buttons {
  @extend %list;
  display: flex;
  justify-content: center;
  margin: 0 0 34px 0;
  @media screen and (min-width: 320px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px 8px;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
  }
}

.portfolio__buttons .item:nth-last-child(5n) {
  margin-right: 0px;
}

.footer__button {
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  gap: 10px;
  color: #ffffff;
  outline: none;
  cursor: pointer;

  padding: 10px 28px;

  // @media screen and (min-width: 320px) {
  //   display: block;
  //   text-align: center;
  //   margin: 0;
  // }

  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   text-align: center;
  //   justify-content: center;
  //   margin: 0;
  // }

  // @media screen and (min-width: 1200px) {
  //   display: inline;
  //   text-align: left;
  // }
}
