/* footer */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    @extend %container;
  }

  &__list {
    @extend %list;
    margin-right: auto;
  }

  &__box {
    @media screen and (min-width: 320px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      flex-direction: unset;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px 165px;
      display: flex;
      align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      gap: 70px;
      display: flex;
      align-items: baseline;
    }

    display: flex;
  }
  &__form {
    @media screen and (min-width: 320px) {
      display: block;
      align-items: center;
      text-align: center;
      margin: 0;
    }

    @media screen and (min-width: 768px) {
      display: block;
      align-items: center;
      text-align: center;
      gap: 20px;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: wrap;
      align-items: left;
    }
  }

  &__boxlogo {
    @media screen and (min-width: 320px) {
      display: block;
      text-align: center;
      margin: 0;
    }

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      text-align: left;
    }
  }

  &__join {
    text-transform: uppercase;
    color: #ffffff;
  }
  &__secondbox {
    @media screen and (min-width: 320px) {
      display: block;
      text-align: center;
      margin: 60px 0;
    }

    @media screen and (min-width: 768px) {
      display: block;
      text-align: center;
      margin: 0;
    }

    @media screen and (min-width: 1200px) {
      display: block;
      text-align: left;
    }
  }

  &__sociallinks {
    @extend %list;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    align-content: center;
    justify-content: center;
    gap: 10px;
  }

  &__links {
    width: 44px;
    height: 44px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    outline: none;

    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    fill: var(--fill-hiver-icon);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__links:hover &__icon,
  &__links:focus &__icon {
    fill: var(--fill-hiver-icon);
  }

  &__links:hover,
  &__links:focus {
    background: var(--accent-color);
  }

  &__links:hover,
  &__links:focus {
    background: var(--accent-color);
  }

  &__subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
    display: flex;

    @media screen and (min-width: 320px) {
      display: block;
      align-items: center;
      justify-content: center;
      margin: 0 0 20px 0;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      text-align: center;
      justify-content: center;
      margin: 0 0 20px 0;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 20px 0;
    }
  }

  &__lastbox {
    display: flex;
    align-items: center;

    @media screen and (min-width: 320px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      flex-direction: column;
      gap: 20px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  /* Свойства для обнуления курсива у address font-style: normal */
  &__link {
    color: var(--footer__link-text-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    text-decoration: none;
  }

  &__item {
    gap: 9px;
    @media screen and (min-width: 320px) {
      display: block;
      text-align: center;
      margin: 0;
    }

    @media screen and (min-width: 768px) {
      display: block;
      text-align: center;
      margin: 0;
    }

    @media screen and (min-width: 1200px) {
      display: block;
      text-align: left;
    }

    // margin-bottom: 9px;
    // &:nth-child(3n) {
    //   margin-bottom: 0px;
    // }
  }

  &__addresses {
    margin-top: 20px;
  }
  &__link--transparency {
    color: rgba(255, 255, 255, 0.6);
  }

  &__link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--transparency:hover,
    &--transparency:focus {
      color: var(--accent-color);
    }
  }

  &__logo {
    margin-top: 60px;

    @media screen and (min-width: 320px) {
      display: block;
      text-align: center;
      margin: 0;
    }

    @media screen and (min-width: 768px) {
      display: block;
      text-align: center;
      margin: 0;
    }

    @media screen and (min-width: 1200px) {
      display: inline;
      text-align: left;
    }
  }

  &__input {
    height: 50px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    color: white;

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: 320px) {
      display: block;
      text-align: center;
      justify-content: center;
      // margin-bottom: 20px;
      margin: 0;
      width: 100%;
      padding: 13px 16px;
      text-align: start;
      padding: 0 15px;
    }

    @media screen and (min-width: 768px) {
      display: block;
      text-align: center;
      justify-content: center;
      // margin-bottom: 20px;
      width: 450px;
      padding: 13px 16px;
      text-align: start;
    }

    @media screen and (min-width: 1200px) {
      display: block;
      text-align: start;
      margin-right: 12px;
      width: 358px;
      padding: 13px 16px;
    }
  }
}
